{% extends 'base.html.twig' %}

{% block title %}Detail Category{% endblock %}

{% block body %}

    <a href=" {{ path('edit_category', {'id': category.id}) }} ">Modifier Categorie</a>

    <h1>Liste des modules de la categorie: {{ category.namecategory }} </h1>
    {% for module in category.modules %}
        <span> {{ module.nameModule }} </span><br>
    {% endfor %}
    
    <a href=" {{ path('add_module', {'id': category.id}) }} ">Ajouter un module</a>

{% endblock %}
