{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
    <h1>Liste des modules</h1>
    <br>
    {% for module in modules %}
        <div style="display: flex; flex-direction:column">
            <span> {{module.nameModule}}</span>
        </div>
        <br>
    {% endfor %}
{% endblock %}
